<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.hku.cs.buttonnavigationtest">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/msclogo_1129"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admission.Stu_Clark"/>
        <activity android:name=".Admission.Stu_cuiyitong"/>
        <activity android:name=".Admission.Stu_Hutianyi"/>
        <activity android:name=".Admission.Stu_Lee"/>
        <activity android:name=".Admission.FAQ_admission"/>
        <activity android:name=".Admission.FAQ_visa"/>
        <activity android:name=".Admission.FAQ_answer"/>

        <activity android:name=".Curriculum.Overview_cyber"/>
        <activity android:name=".Curriculum.Overview_FinalcialComuputing"/>
        <activity android:name=".Curriculum.Overview_General"/>
        <activity android:name=".Curriculum.Overview_MultimediaComputing"/>
    </application>

</manifest>